body {
  min-height: 98vh;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

#container {
  display: flex;
  flex-flow: wrap;
  align-content: flex-start;
  border: solid 3px black;
  border-radius: 5px;
  width: 500px;
  height: 500px;
}

#container div {
  height: 29.25px;
  width: 29.25px;
  border: solid 1px rgba(184, 184, 184, 0.589);
}

#inputField {
  display: flex;
  padding-bottom: 10px;
  gap: 10px;
}

input {
  border: solid 3px black;
  border-radius: 5px;
}
button {
  border: solid 3px black;
  border-radius: 5px;
}
